<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.mountainminds.eclipsesamples"
            name="Example Commands">
      </category>
      <command
            categoryId="com.mountainminds.eclipsesamples"
            id="com.mountainminds.eclipsesamples.helloWorld"
            name="Hello World">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.mountainminds.eclipsesamples.helloWorld"
            icon="icons/elcl16/hello.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mountainminds.eclipsesamples.menucontribution.HelloWorldHandler"
            commandId="com.mountainminds.eclipsesamples.helloWorld">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.mountainminds.eclipsesamples.helloWorldMenu"
               label="Example">
            <command
                  commandId="com.mountainminds.eclipsesamples.helloWorld"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="com.mountainminds.eclipsesamples.helloWorld"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.help">
         <toolbar
               id="com.mountainminds.eclipsesamples.helloWorldToolbar">
            <command
                  commandId="com.mountainminds.eclipsesamples.helloWorld"
                  icon="icons/elcl16/hello.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.mountainminds.eclipsesamples.helloWorldStatusbar">
            <command
                  commandId="com.mountainminds.eclipsesamples.helloWorld"
                  icon="icons/elcl16/hello.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.command1">
         <toolbar
               id="com.mountainminds.eclipsesamples.helloWorldTrimCommand1">
            <command
                  commandId="com.mountainminds.eclipsesamples.helloWorld"
                  icon="icons/elcl16/hello.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.command2">
         <toolbar
               id="com.mountainminds.eclipsesamples.helloWorldTrimCommand2">
            <command
                  commandId="com.mountainminds.eclipsesamples.helloWorld"
                  icon="icons/elcl16/hello.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.vertical1">
         <toolbar
               id="com.mountainminds.eclipsesamples.helloWorldTrimVertical1">
            <command
                  commandId="com.mountainminds.eclipsesamples.helloWorld"
                  icon="icons/elcl16/hello.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.vertical2">
         <toolbar
               id="com.mountainminds.eclipsesamples.helloWorldTrimVertical2">
            <command
                  commandId="com.mountainminds.eclipsesamples.helloWorld"
                  icon="icons/elcl16/hello.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.views.TaskList?after=additions">
         <command
               commandId="com.mountainminds.eclipsesamples.helloWorld"
               icon="icons/elcl16/hello.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.mountainminds.eclipsesamples.helloWorld"
               icon="icons/elcl16/hello.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.mountainminds.eclipsesamples.helloWorld"
               icon="icons/elcl16/hello.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
